body {
    min-height: 100vh;
}

.hobbies {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--primarycolor);
    text-shadow: 1px 1px 1px var(--secondarycolor);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.hobbies li {
    margin: 4rem;
    transition: transform 0.4s ease;
}

.hobbies h2 {
    color: var(--primarycolor);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.hobby-image {
    width: 37rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 600px;
    box-shadow: 10px 10px 10px var(--primarycolor);

}

.hobbies li:hover {
    transform: scale(1.1);
}