.content-container {
    height: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    width: 30%;
    background-image: url("/img/pexels-diva-28319371.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--primarycolor);
}

.links ul {
    display: flex;
}

.links li {
    list-style: none;
    margin: 2rem;
}

.content-container img {
    padding: 2rem;
}

.contact-form h1 {
    text-align: center;
    border-bottom: 0.1rem solid var(--primarycolor);
    margin-bottom: 2rem;
    color: var(--secondarycolor);
    text-shadow: 5px 5px 20px var(--primarycolor);
}

.contact-form {
    width: 30%;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--primarycolor);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primarycolor);
}

.contact-form label {
    display: block;
    font-weight: medium;
    margin-bottom: 0.5rem;
    color: var(--primarycolor);
    text-shadow: 1px 1px 50px var(--secondarycolor);
}

.submit-btn {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px var(--primarycolor);
}