body {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(195, 188, 241));
}

.hero {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

h1 {
    color: var(--secondarycolor);
    text-shadow: 1px 1px 10px var(--primarycolor);
}

.hero-img {
    width: 400px;
    box-shadow: 5px 5px 10px var(--primarycolor);
    border-radius: 10px;
}

.hero-content {
    padding: 10rem;
    font-family: var(--headerfont);
    color: var(--primarycolor);
}

.hero-content p {
    margin-bottom: 2rem;
    color: var(--secondarycolor);
}

.hero-content a {
    text-decoration: none;
    color: var(--primarycolor);
    padding: 0.8rem;
    background-color: var(--secondarycolor);
    border-radius: 5px;
}